





<div class="nav">

  <ul class="navv">
       <li class="nav-menu" >
         <a class="nav-item" routerLink="card" routerLinkActive="active" href="#">Html</a>
         <div class="dropdown">
            <ul>
              <li><a href="#">Lorem.</a></li>
              <li><a href="#">Tenetur.</a></li>
              <li><a href="#">Reprehenderit.</a></li>
              <li><a href="#">Consectetur!</a></li>
            </ul>
         </div>
       </li>
       <li class="nav-menu">
          <a class="nav-item" routerLinkActive="active" href="#">Css</a>
          <div class="dropdown">
            <ul>
              <li><a href="#">Lorem.</a></li>
              <li><a href="#">Tenetur.</a></li>
              <li><a href="#">Reprehenderit.</a></li>
              <li><a href="#">Consectetur!</a></li>
            </ul>
         </div>
       </li>
       <li class="nav-menu">
          <a class="nav-item" href="#">Javascript</a>
          <div class="dropdown">
            <ul>
              <li><a href="#">Lorem.</a></li>
              <li><a href="#">Tenetur.</a></li>
              <li><a href="#">Reprehenderit.</a></li>
              <li><a href="#">Consectetur!</a></li>
            </ul>
         </div>
       </li>
       <li class="nav-menu">
         <a class="nav-item" href="#">Php</a>
         <div class="dropdown">
              <ul class="d-flex-menu">
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Tenetur.</a></li>
                <li><a href="#">Reprehenderit.</a></li>
                <li><a href="#">Consectetur!</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Tenetur.</a></li>
                <li><a href="#">Reprehenderit.</a></li>
                <li><a href="#">Consectetur!</a></li>
              </ul>
       </div>
       </li>
       <li class="nav-menu">
         <a class="nav-item" href="#">Python</a>
       </li>
  </ul>

</div>

<router-outlet></router-outlet>
